#menu{
    height: 50px;
    width: 100%;
    background-color:rgba(17,17,2,0.24);
    display: flex;
    justify-content: flex-start;
}
#iconarea{
    flex: 1;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items: center;
}
.icon1{

    width: 28px;
    height: 32px;

    background-image: url(../img/信息3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*.red1{*/
    /*position: absolute;*/
    /*height: 11px;*/
    /*width: 11px;*/
    /*background-color: crimson;*/
    /*right: 175px;*/
    /*top: 4px;*/
    /*border-radius: 50%;*/
    /*color: whitesmoke;*/
    /*text-align: center;*/
    /*line-height: 11px;*/
    /*font-size: 4px;*/
/*}*/
.iconname1{
    margin-left: 4px;
    letter-spacing: 2px;
    margin-top:-5px;
    color: #777777;
    text-align: center;
    font-size: 12px;
    width: 40px;
    height: 15px;

}
.icon2{
    width: 32px;
    height: 30px;

    margin-bottom: 3px;
    background-image: url(../img/通讯录.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.iconname2{
    margin-left: 4px;
    letter-spacing:2px;
    margin-top:-6px;
    color: #777777;
    text-align: center;
    font-size: 11px;
    width: 50px;
    height: 15px;

}
.icon3{
    width: 40px;
    height: 25px;
    margin-top: 4px;
    background-image: url(../img/发现.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.iconname3{
    margin-left: 4px;
    letter-spacing: 2px;
    margin-top:0px;
    color: #777777;
    text-align: center;
    font-size: 11px;
    width: 40px;
    height: 15px;

}
.icon4{
    width: 30px;
    height: 26px;
    margin-top: 4px;
    background-image: url(../img/我.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.iconname4{
    margin-left: 4px;
    letter-spacing: 2px;
    margin-top:-px;
    color: #777777;
    text-align: center;
    font-size: 11px;
    width: 40px;
    height: 15px;

}

/*.icon4{*/
    /*border: crimson 1px solid;*/
    /*width: 40px;*/
    /*height: 31px;*/

    /*background-image: url(../img/我.svg);*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-position: center;*/
/*}*/
/*.iconname4{*/
    /*border: crimson 1px solid;*/
    /*letter-spacing: 2px;*/

    /*color: #777777;*/
    /*text-align: center;*/
    /*font-size: 13px;*/
    /*width: 40px;*/
    /*height: 40px;*/

/*}*/

